body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.header , .content, .footer{
    width: 100%;
    height: 100%;
}

.header{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: fit-content;
}

#login_btn{
    margin-right: 2%;
}

#logo_img{
    height: 60px;
    width: 60px;
    margin-left: 1%;
}

/* styling content */

.content{
    margin-top: 60px;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
}

.image_container{
    margin: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img_cont{
    position: relative;
    margin: 4% 0;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 25%;
}

.city_img{
    width: 150px;
    height: 150px;
    border-radius: 25%;
}



#delhi_bd , #goa_bd, #hyd_bd, #kolk_bd{
    position: absolute;
    padding: 0;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#delhi_bd:hover{
    opacity: 1;
}

#goa_bd:hover{
    opacity: 1;
}

#hyd_bd:hover{
    opacity: 1;
}

#kolk_bd:hover{
    opacity: 1;
}


.search{
    height: 380px;
    background: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg) center/cover no-repeat border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_bar{
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 350px;
}

#search_bar:active{
    border: none;
}

#view_more{
    text-align: center;
}

/* styleing footer */

.footer{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: max-content;
}

#contact_btn{
    margin-left: 1%;
    padding: 1% 0;
}

#social{
    margin-right: 2%;
}

#copywrite{
    margin-bottom: 0;
}

.social_img{
    height: 20px;
    width: 22px;
}



