body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.header , .content, .footer{
    width: 100%;
    height: 100%;
}

/* styling header */

.header{
    height: fit-content;
    position: fixed;
    top: 0;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_img{
    width: 60px;
    height: 60px;
}

#login_btn{
    padding: 1%;
}

/* styling content */

.content{
    margin: 7% 0;
}

.description{
    background-color:rgb(132,136,139) ;
    width: 50%;
    height: 20%;
    margin: 2% auto;
}

.cust_info{
    margin: 2%;
}

.payment_info{
    margin: 2%;
    padding: 1% 2%;
    border: 1px black solid;
    border-radius: 5px;
}

#radison_img{
    width: 500px;
    height: 500px;
}

/* styling footer */

.footer{
    height: max-content;
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    padding: 1%;
}

.social_img{
    width: 22px;
    height: 20px;
}

#contact_btn{
    padding: 1%;
}

#copywrite{
    margin-bottom: 0;
}

